<div class="container">
<% if @user_stats.errors.any? %>
<div class="alert alert-dismissible alert-warning">
  <h4 class="alert-heading">Warning!</h4>
  <p class="error"><%= @user_stats.errors.full_messages.to_sentence %></p>
  </p>
</div>
<% end %>

<div class="row justify-content-center">
  <div class="col d-flex justify-content-center">
    <div class="card text-white bg-primary pb-16 mb-16 align-items-center" style="width: 25rem;">
      <div class="card-header">Enter info</div>
      <div class="card-body">
        <%= bootstrap_form_with model: [@user, @user_stats], local: true do |f| %>
          <h5 class="text-white"> Sex </h5>
          <%= f.radio_button :sex, "Male" %>
          <%= f.radio_button :sex, "Female" %>
          <%= f.select :height_inches, options_for_select([["4\' 10\"" , 58], ["4\' 11\"", 59], ["5\' 0\"", 60], ["5\' 1\"", 61], ["5\' 2\"", 62], ["5\' 3\"", 63], ["5\' 4\"", 64], ["5\' 5\"", 65], ["5\' 6\"", 66], ["5\' 7\"", 67], ["5\' 8\"", 68], ["5\' 9\"", 69], ["5\' 10\"", 70], ["5\' 11\"", 71], ["6\' 0\"", 72], ["6\' 1\"", 73], ["6\' 2\"", 74],]) %>
          <%= f.date_select :birthday, start_year: 1920 %>
          <%= f.hidden_field :user_id %>
          <%= f.submit "Submit" %>
        <% end %>
        </div>
    </div>
  </div>
</div>
</div>
<br>
<br>
<br>
<br>