
    <%= f.text_field :name, label: "Meal Name"%>
    <%= f.hidden_field :carbs %>
    <%= f.hidden_field :protein %>
    <%= f.hidden_field :fat %>
    <h6 class="text-center text-white"> Add your foods below </h6>
    <%= f.fields_for :foods do | i | %>
        <%= i.text_field :name, label: "Food Name" %> 
        <%= i.number_field :serving_size, label: "Serving Size", append: "grams" %>
        <%= i.number_field :carbs, label: "Carbs", append: "grams" %>
        <%= i.number_field :fat, label: "Fat", append: "grams" %>
        <%= i.number_field :protein, label: "Protein", append: "grams" %>
        <%= i.hidden_field :user_id, value: this_user.id %>
        <br>
    <% end %> 
    <%= f.submit %>
