
<div class="container">
  <div class="row justify-content-center">   
    <div class="col d-flex justify-content-center">
      <ul class="list-group list-unstyled">
      Your Meals
        <% @user_meals.each do |meal| %>
        <li><%= link_to "#{meal.name}", meal_path(meal), class: "list-group-item list-group-item-action" %></li>
        <% end %>
      </ul>
    </div>
 
    <div class="col d-flex justify-content-center">
      <ul class="list-group list-unstyled">
        Community Meals
        <% @community_meals.each do |meal| %>
        <li><%= link_to "#{meal.name}", foods_path(:meal_id => meal.id), method: "post", class: "list-group-item list-group-item-action" %></li>
        <% end %>
      </ul>
    </div>
  </div>


<%= form_with(url: '/meals', method: "post", local: true) do %>
    <%= label_tag :meal_id %>
    <%= select_tag :meal_id, options_from_collection_for_select(@meals, :id, :name), prompt: "Select Macro", include_blank: true %>
    <%= submit_tag("Select Meal") %>
    <% end %>

    
    

    </div>
