
<div class="card text-white bg-primary mb-3" style="width: 30rem;">
  <div class="card-header">Diet Info</div>
  <div class="card-body">
    <h4 class="card-title">Answer as accurately as possible</h4>
    <p class="card-text">
    <h5 class="text-white">What is your goal?</h5>
    <%= f.radio_button :goal, "lose", label: "I want to lose bodyfat(CURRENT WEIGHT must be MORE than TARGET WEIGHT)." %>
    <%= f.radio_button :goal, "maintain", label: "I want to maintain." %>
    <%= f.radio_button :goal, "build", label: "I want to build muscle(CURRENT WEIGHT must be LESS than TARGET WEIGHT)." %>
  <br>
    <%= f.number_field :current_weight, label: "Current weight in pounds.", append: "lbs" %> <br>
    <%= f.number_field :target_weight, label: "Target weight in pounds.", append: "lbs" %> <br>
    <h5 class="text-white">What is your average daily activity level?</h5>
    <%= f.radio_button :activity_level, 1, label: "Sedentary(desk worker with little to no exercise)" %>
    <%= f.radio_button :activity_level, 2, label: "Lightly active(sales person/light exercise 1-3 days/week)" %>
    <%= f.radio_button :activity_level, 3, label: "Moderately active(teacher/moderate exercise 3-5 days/week)" %>
    <%= f.radio_button :activity_level, 4, label: "Very active(nurse/moderate exercise 5-7 days/week)" %>
    <%= f.radio_button :activity_level, 5, label: "Extremely active(construction worker/very hard exercise)" %>
  <br>
    <h5 class="text-white"> How many meals per day do you want to eat? </h5>
    <%= f.radio_button :meals_per_day, 1, label: "1 meal per day" %>
    <%= f.radio_button :meals_per_day, 2, label: "2 meals per day" %>
    <%= f.radio_button :meals_per_day, 3, label: "3 meals per day" %>
    <%= f.radio_button :meals_per_day, 4, label: "4 meals per day" %>
    <%= f.radio_button :meals_per_day, 5, label: "5 meals per day" %>
    <%= f.radio_button :meals_per_day, 6,  label: "6 meals per day" %>
    <br>
    <%= f.date_field :start_date, label: "Select your start date" %>

    <%= f.date_field :end_date, label: "Select your end date" %> 
    <%= f.hidden_field :user_id %>
    <%= f.submit "Submit" %>
    </p>
  </div>
</div>

