<div class="container">
  <div class="row justify-content-center">   
    <% if Date.today < @start_date %>
    <p> Your diet starts in <%= Integer(@start_date - Date.today) %>day('s). This is just a preview of day 1.</p> 
    <p class="font-weight-bold"> <%= link_to 'Click here to edit the diet and change it\'s start date', edit_diet_path(@diet), data:{confirm: "Editing diet will change current parameters. Are you sure you want to edit?"} %></p>
    <% elsif Date.today > @end_date %>
    <p> Your diet is over! Congrats! </p>
    <% else %>
    <h4>Today's date: <%= Date.today.strftime("%a, %e %b %Y") %></h4>
    <% end %>
  </div>
<br>

  <div class="row d-flex justify-content-center">
    <h4>Meal 1 targets!</h4>
  </div>
    <br>
  <div class="row d-flex justify-content-center">
    <div class="col d-flex justify-content-center">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Carbs: <%= carbs_amount %>g </h4>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Protein: <%= protein_amount %>g </h4>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Fat: <%= fat_amount %>g </h4>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Total calories: <%= calories_per_meal %> </h4>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<div class="row d-flex justify-content-center"> 
  <div class="col-4 d-flex align-items-start">
    <div class="card text-white bg-dark mb-3" style="width: 30rem;">
      <div class="card-header text-center">
        Select a meal
      </div>
      <div class="card-body">
 <%= bootstrap_form_with(url: user_diet_path(@user, @diet), method: "get", local: true) do |f| %>
    <%= f.select :meal_id, options_from_collection_for_select(@meals, :id, :name), include_blank: true %><br>
    <%= f.submit "Select Meal" %>
    <% end %>
      </div>
    </div>
  </div>
  <div class="col-4 d-flex align-items-start">
    <div class="card text-white bg-dark mb-3" style="width: 30rem;">
      <div class="card-header text-center">
        Create a meal
      </div>
      <div class="card-body">
       <%= bootstrap_form_with(model: @meal, url: "/meals", method: "post", layout: :horizontal, label_col: "col-4", control_col: "col-8") do |f| %>
       <%= f.hidden_field :location, value: "diets" %>
       <%= render partial: "meals/new", locals: {this_user: @user, f: f} %>
       <% end %>
       </div>
      </div>
    </div>

<div class=" col-4 d-flex align-items-start">
    <div class="card text-white bg-dark mb-3" style="width: 30rem;">
      <div class="card-header text-center">
        Meal
      </div>
      <div class="card-body">
   <% if @selected_meal %>
    <%= @selected_meal.name %> 
    c:<%= @selected_meal.carbs %> p:<%= @selected_meal.protein %> f:<%= @selected_meal.fat %>
    calories:<%= total_calories(@selected_meal) %>
    <% @selected_meal.foods.where(user_id: @user.id).each do |food| %> 
    <%= food.name %> c:<%= food.carbs %> p:<%= food.protein %> f:<%= food.fat %><br>
    
        calories:<%= total_calories(food)%>
        <%end%>
    <% end %>
    </div>
    </div>
    </div>


    </div>
   

</div>

<%= form_with(url: user_diet_path(@user, @diet), method: "get", local: true) do %>
    <%= label_tag :filter %>
    <%= select_tag :filter, options_for_select(["High Protein", "High Carb", "High Fat"]), prompt: "Select Macro" %>
    <%= submit_tag("Filter") %>
    <% end %>
<br>