Here is your diet.
<%= Date.today.strftime("%a, %e %b %Y") %>

<% if Date.today < @start_date %>
<p> Your diet starts in <%= Integer(@start_date - Date.today) %></p> 
<%= link_to 'Edit Diet', edit_diet_path(@diet) %>
<% elsif Date.today > @end_date %>
<p> Your diet is over! Congrats! </p>
<% else %>
<p> Here are your meals. </p>
<h2>Meal 1 Goals</h2>

<p>Carbs: <%= ((@total_cpm * 0.35) / 4).floor %>g </p>
<p>Protein: <%= ((@total_cpm * 0.4) / 4).floor %>g </p>
<p>Fat: <%= ((@total_cpm * 0.25) / 4).floor %>g </p>
<%= calories_per_meal(@mpd) %>
<%= daily_calories %>
<h4>Select Foods</h4>

<%= form_with(url: user_diet_path(@user, @diet), method: "get", local: true) do %>
    <%= label_tag :filter %>
    <%= select_tag :filter, options_for_select(["High Protein", "High Carb", "High Fat"]), prompt: "Select Macro" %>
    <%= submit_tag("Filter") %>
    <% end %>
<br>
      
     
    <% if @selected_meal %>
    <%= @selected_meal.name %> 
    c:<%= @selected_meal.carbs %> p:<%= @selected_meal.protein %> f:<%= @selected_meal.fat %>
    calories:<%= total_calories(@selected_meal) %>
   
<br>

    <% @selected_meal.foods.where(user_id: @user.id).each do |food| %> 
    <%= food.name %> c:<%= food.carbs %> p:<%= food.protein %> f:<%= food.fat %><br>
    
        calories:<%= total_calories(food)%>
        <%end%>
    <% end %>
   

<%= form_with(model: @meal, url: "/meals", method: "post", local: true) do |f| %>
    <%= f.hidden_field :location, value: "diets" %>
    <%= render partial: "meals/new", locals: {this_user: @user, f: f} %>
 

   
<% end %>
    <br>

   <%= form_with(url: user_diet_path(@user, @diet), method: "get", local: true) do %>
    <%= label_tag :meal_id %>
    <%= select_tag :meal_id, options_from_collection_for_select(@meals, :id, :name), prompt: "Select Macro", include_blank: true %>
    <%= submit_tag("Select Meal") %>
    <% end %>

    
    
  


   


    <% end %>
   


