<div class="container">
  <div class="row justify-content-center">   
    <div class="col d-flex justify-content-center">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <%= bootstrap_form_with model: @diet, url: diet_path(@diet), method: "patch", local: true do |f| %>
          <%= f.number_field :current_weight, label: "update current weight", append: "lbs" %>
          <%= f.submit "Submit" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <% if Date.today < @start_date %>
        <p> Your diet starts in <%= Integer(@start_date - Date.today) %>day('s). This is just a preview of day 1.</p> 
        <p class="font-weight-bold"> <%= link_to 'Click here to edit the diet and change it\'s start date', edit_diet_path(@diet), data:{confirm: "Editing diet will change current parameters. Are you sure you want to edit?"} %></p>
      <% elsif Date.today > @end_date %>
        <p> Your diet is over! Congrats! </p>
      <% else %>
        <h4>Today's date: <%= Date.today.strftime("%a, %e %b %Y") %></h4>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row d-flex justify-content-center">
    <h4>Try to hit the following targets for each of your <%=@diet.meals_per_day%> meals. </h4>
  </div>
    <br>
  <div class="row d-flex justify-content-center">
    <div class="col d-flex justify-content-center">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Carbs: <%= carbs_amount %>g </h4>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Protein: <%= protein_amount %>g </h4>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Fat: <%= fat_amount %>g </h4>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Total calories: <%= calories_per_meal %> </h4>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<div class="row d-flex justify-content-center"> 
  <div class="col-4 d-flex align-items-start">
    <div class="card text-white bg-dark mb-3" style="width: 30rem;">
      <div class="card-header text-center">
        Select a meal
      </div>
      <div class="card-body">
 <%= bootstrap_form_with(url: user_diet_path(@user, @diet), method: "get", local: true) do |f| %>
    <%= f.select :meal_id, options_from_collection_for_select(@meals, :id, :name), include_blank: true %><br>
    <%= f.submit "Select Meal" %>
    <% end %>
      </div>
    </div>
  </div>
  <div class="col-4 d-flex align-items-start">
    <div class="card text-white bg-dark mb-3" style="width: 30rem;">
      <div class="card-header text-center">
        Create a meal
      </div>
      <div class="card-body">
       <%= bootstrap_form_with(model: @meal, url: "/meals", method: "post", layout: :horizontal, label_col: "col-4", control_col: "col-8") do |f| %>
       <%= f.hidden_field :location, value: "diets" %>
       <%= render partial: "meals/new", locals: {this_user: @user, f: f} %>
       <% end %>
       </div>
      </div>
    </div>

<div class=" col-4 d-flex align-items-start">
    <div class="card text-white bg-dark mb-3" style="width: 30rem;">
      <div class="card-header text-center">
        Meal
      </div>
      <div class="card-body">
   <% if @selected_meal %>
    <p><%= @selected_meal.name %> meal stats:<br>
    carbs: <%= @selected_meal.carbs %> protein: <%= @selected_meal.protein %> fat: <%= @selected_meal.fat %>  calories: <%= total_calories(@selected_meal) %>
    <p>Food stats:<br>
    <% @selected_meal.foods.where(user_id: @user.id).each do |food| %> 
    <%= food.name %> - carbs: <%= food.carbs %> protein: <%= food.protein %> fat: <%= food.fat %> calories: <%= total_calories(food)%><br>
        <%end%></p>
    <% end %>
    </div>
    </div>
    </div>
    </div>
</div>
